{% load static %}
<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Cadastro</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="{% static 'usuarios/css/cadastro.css' %}" rel="stylesheet">
        <link href="{% static 'divulgar/css/novo_pet.css' %}" rel="stylesheet">
        <link href="{% static 'divulgar/css/seus_pet.css' %}" rel="stylesheet">
        <link href="{% static 'adotar/css/listar_pets.css' %}" rel="stylesheet">
        <style>
            h2{
                margin-right: 1px;
                font-size: large;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
                text-align: right;  
                    }
            p{
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
                font-size: small;
                text-align: center;
                color:rgb(246, 102, 50);
                text-transform: uppercase 1px;
                margin: 25px;
                margin-right: 1px;
                text-align-last: left;
            

        }

        </style>

    </head>
    <body>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 bg-side sidebar">
                   
                    <div class='header'>
                        <h2>Pedidos De Doação</h2>
                        <a href="{% url 'index' %}">
                            <img src="{% static 'usuarios/img/logo_adote.png' %}" width="50%">
                        </a>
                        <br>
                        <span class="font-logo">Boas-vindas!</span>
                        <br>
                        <span class="font-logo-name">{{nome}}</span>
                        <hr>
                        
                    </div>                       
                        <p><a class="nav-link" href="{% url 'novo_pet' %}">Cadastrar Pet</a></p>
                        <p><a class="nav-link" href="{% url 'seus_pets' %}">Seus pets</a></p>
                        <p><a class="nav-link" href="{% url 'ver_pedido_adocao' %}">Ver pedidos</a></p>
                        <p><a class="nav-link" href="{% url 'dashboard' %}">Painel</a></p>
                        <p><a class="nav-link" href="{% url 'sair' %}">Sair</a></p>
                  
                    
                </div>

                <div style="padding:60px" class="col-md">

                    <div class="row">
                        {% if messages %}
                            <br>
                            {% for message in messages %}
                                <div class="alert {{message.tags}}">
                                    {{message}}
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% for pedido in pedidos %}

                        <div  class="wrapper">
                            <div class="col-md-3" style="margin: 10px 20px;">
                                
                                <div class="card" style="background-color: #f2eaea; border:none;">

                                    <div style="padding:5px;  ">
                                        <span clas="span-bold">{{pedido.pet.nome}}</span>
                                    </div>

                                    <div class="row-card">
                                        <img class="card-img-top" style="border-radius: 500px 500px; margin: auto;"  src="{{pedido.pet.foto.url}}" >

                                    </div>

                                   

                                    <div class="card-body">
                                        <h1 class="card-title">{{pedido.usuario.username}}</h1>
                                        <span class="span-bold2">Telefone:</span>
                                        <p>{{pedido.pet.telefone}}</p>
                                        
                                        <span class="span-bold2">Cidade:</span>
                                        <p>{{pedido.pet.cidade}}</p>
                                        <a href="{% url 'processa_pedido_adocao' pedido.id %}?status=A" class="btn btn-success btn-lg">Aprovar</a>
                                        <a href="{% url 'processa_pedido_adocao' pedido.id %}?status=R" class="btn btn-danger btn-lg">Recusar</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                           
                        {% endfor %}

                        

                        
                        
                    </div>
                </div>

            </div>

        
        </div>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>